### IBM Applied Data Science Capstone Course
Week 3 Assignment 1

In [1]:
import pandas as pd
import numpy as np

##### Importing Data From Web

In [2]:
list_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header = 0)
df = list_df[0]

##### Transforming Data
To transform the data, I have first dropped rows where Borough cell is 'Not assigned'. Then I have grouped neighborhoods by postal codes and boroughs. Not assigned neighbourhoods are replaced by respective boroughs.

In [3]:
df = df[df.Borough != "Not assigned"].reset_index(drop=True)
df = df.groupby(["Postal Code", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df.Neighbourhood[df['Neighbourhood']=='Not assigned'] = df.Borough[df['Neighbourhood']=='Not assigned']
df.rename(index=str, columns={"Postal Code": "PostalCode", "Neighbourhood":"Neighborhood"}, inplace = True)
  
df

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [4]:
# Number of rows and columns of the cleaned frame:
df.shape

(103, 3)